{{>header}}
<h1>Detalle del curso</h1>
<ul>
   <li>Nombre del curso: {{course.courseName}}</li>
   <li>Descripción del curso: {{course.courseDescription}}</li>
   <li>Precio del curso: {{course.coursePrice}}</li>
   <li>Modalidad del curso: {{course.modality}}</li>
   <li>Intensidad horaria: {{course.intensity}}</li>
</ul>

<a href="/interested">Regresar</a>
{{>footer}}