{{>header}}

<div class="container">

   <h1>Detalle del curso</h1>
   <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre del curso: {{course.courseName}}</li>
      <li class="list-group-item">Descripción del curso: {{course.courseDescription}}</li>
      <li class="list-group-item">Precio del curso: {{course.coursePrice}}</li>
      <li class="list-group-item">Modalidad del curso: {{course.modality}}</li>
      <li class="list-group-item">Intensidad horaria: {{course.intensity}}</li>
   </ul>

   <a style="margin: 3% 0;" href="/interested">Regresar</a>

</div>
{{>footer}}